/* Fonts and Colours */
@font-face {
  font-family: "MingLiU";
  src: url("mingliu.eot?") format("eot"), url("mingliu.woff") format("woff"),
    url("mingliu.ttf") format("truetype"),
    url("mingliu.svg#MingLiU") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Colours */
  --sm-beige: #f2f2e4;
  --sm-black: #000000;
  --sm-white: #ffffff;
  --sm-gray: #a5a0a0;
}
/* Global Settings */
* {
  margin: 0;
  padding: 0;
  scroll-behaviour: smooth;
  font-family: "MingLiU";
  scroll-snap-type: y mandatory;
  line-height: 125%;
}
body {
  background-color: var(--sm-beige);
}
.sm-block {
  display: block;
}
.hidden {
  display: none;
}
/* Font Size */
.sm-font-20rem {
  font-size: 2rem;
}
.sm-font-16rem {
  font-size: 1.6rem;
}
.sm-font-08rem {
  font-size: 0.8rem;
}
.sm-font-11rem {
  font-size: 1.1rem;
}
.sm-font-12rem {
  font-size: 1.2rem;
}
.sm-font-13rem {
  font-size: 1.3rem;
}
.sm-font-14rem {
  font-size: 1.4rem;
}
.sm-font-15rem {
  font-size: 1.5rem;
}
/* Section Settings */
.sm-pre-hero,
.sm-hero,
.sm-story-1,
.sm-story-2,
.sm-wedding,
.sm-dresscode,
.sm-rsvp,
.sm-gifts,
.sm-comments {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.sm-gallery {
  display: flex;
  scroll-snap-align: start;
  height: auto;
  width: 100vw;
}
.sm-registry {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.sm-pre-hero,
.sm-hero,
.sm-wedding,
.sm-gallery,
.sm-dresscode,
.sm-gifts,
.sm-rsvp,
.sm-comments {
  background-color: var(--sm-beige);
  color: var(--sm-black);
}
.sm-story-1,
.sm-story-2 {
  background-color: var(--sm-black);
  color: var(--sm-white);
}
.sm-content-wrapper {
  margin: 0 auto;
  padding: 1em;
  max-width: 90rem;
}
/* Audio Settings */
.sm-music-player {
  z-index: 1;
  position: fixed;
  right: 0px;
  bottom: 0px;
  mix-blend-mode: difference;
}
.sm-audio-button {
  background-color: transparent;
  border: 0;
  padding: 1.6em;
  color: var(--sm-white);
  cursor: pointer;
}
.sm-audio-button:hover {
  text-decoration: underline;
}
/* CTA Section */
.sm-black-primary-btn {
  background-color: var(--sm-black);
  font-size: 1.3rem;
  color: var(--sm-white);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 2.625rem;
  transition: 0.25s ease;
  border: 1px solid var(--sm-black);
  cursor: pointer;
}
.sm-black-primary-btn:hover {
  background-color: var(--sm-beige);
  color: var(--sm-black);
  border: 1px solid var(--sm-black);
}
.sm-gifts-toggle {
  width: 7em;
  background-color: var(--sm-black);
  font-size: 1.3rem;
  color: var(--sm-white);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 2.625rem;
  transition: 0.25s ease;
  border: 1px solid var(--sm-black);
  cursor: pointer;
  margin: 0;
}
.sm-gifts-toggle:hover {
  background-color: var(--sm-beige);
  color: var(--sm-black);
  border: 1px solid var(--sm-black);
}
.sm-copy-clipboard {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 1em;
}
.sm-copy-clipboard:hover {
  text-decoration: underline;
}
.sm-textlink {
  color: var(--sm-black);
  text-decoration: none;
}
.sm-textlink:hover {
  text-decoration: underline;
}
/* Navigation Settings */
.sm-navigation {
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 2;
  mix-blend-mode: difference;
}
.sm-navigation-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0.8em;
  color: var(--sm-white);
}
.sm-navigation-grid-1 {
  grid-area: 1 / 6 / 2 / 7;
  text-align: left;
  font-size: 3rem;
}
.sm-navigation-grid-2 {
  grid-area: 1 / 7 / 2 / 8;
  text-align: right;
  font-size: 3rem;
}
/* Pre-Hero Settings */
body.no-scroll {
  overflow: hidden;
}
.sm-pre-hero {
  text-align: center;
}
.sm-pre-hero-content p {
  padding: 1.1em;
}
.sm-pre-hero-content svg {
  padding-top: 1.1em;
}
/* Hero Section */
.sm-hero-mobile {
  display: none;
}
.sm-hero-parent-grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}
.sm-hero-grid-1 {
  grid-area: 1 / 8 / 21 / 18;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm-hero-grid-2 {
  grid-area: 14 / 19 / 20 / 25;
}
.sm-hero-grid-3 {
  grid-area: 3 / 20 / 7 / 23;
}
.sm-hero-grid-4 {
  grid-area: 2 / 3 / 5 / 6;
}
.sm-hero-grid-5 {
  grid-area: 16 / 2 / 20 / 7;
}
.sm-hero-grid-6 {
  grid-area: 7 / 1 / 14 / 7;
}
.sm-hero-grid-1 img {
  padding-bottom: 2em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sm-hero-grid-2 img,
.sm-hero-grid-3 img,
.sm-hero-grid-4 img,
.sm-hero-grid-5 img,
.sm-hero-grid-6 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Apply the fade-in animation to .div4, .div3, and .div5 with a 3s delay */
.sm-hero-grid-4,
.sm-hero-grid-3,
.sm-hero-grid-5 {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards;
}
/* Set the initial state of div2 and div6 to be hidden */
.sm-hero-grid-2,
.sm-hero-grid-6 {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 6s forwards;
}
/* Story-1 Section */
.sm-story-1-mobile {
  display: none;
}
.sm-story-1-grid-parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: start;
}
.sm-story-1-grid-1 {
  grid-area: 1 / 3 / 2 / 7;
  text-align: left;
  padding-bottom: 2em;
}
.sm-story-1-grid-2 {
  grid-area: 1 / 7 / 2 / 11;
  text-align: right;
  padding-bottom: 2em;
}
.sm-story-1-grid-3 {
  grid-area: 2 / 3 / 3 / 5;
}
.sm-story-1-grid-4 {
  grid-area: 2 / 5 / 3 / 7;
  text-align: center;
}
.sm-story-1-grid-5 {
  grid-area: 2 / 7 / 3 / 9;
  text-align: center;
}
.sm-story-1-grid-6 {
  grid-area: 2 / 9 / 3 / 11;
  text-align: right;
}
/* Story-2 Section */
.sm-story-2-grid-parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.sm-story-2-grid {
  grid-area: 1 / 2 / 2 / 12;
}
.sm-story-2-bottom {
  text-align: center;
  padding-top: 2em;
}
.sm-story-2-bottom img {
  padding-bottom: 0.6em;
}
/* Wedding Section */
.sm-wedding-mobile {
  display: none;
}
.sm-wedding-grid-parent {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: start;
}
.sm-wedding-grid-1 {
  grid-area: 1 / 5 / 2 / 9;
  text-align: center;
}
.sm-wedding-grid-2 {
  grid-area: 2 / 3 / 3 / 5;
  text-align: left;
}
.sm-wedding-grid-3 {
  grid-area: 2 / 5 / 3 / 9;
  place-self: center;
}
.sm-wedding-grid-4 {
  grid-area: 2 / 9 / 3 / 11;
  text-align: right;
}
.sm-wedding-grid-5 {
  grid-area: 3 / 5 / 4 / 9;
  text-align: center;
}
.sm-wedding-directions {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--ms-black);
}
.sm-wedding-directions:hover {
  text-decoration: underline;
}
/* Dress Code */
.sm-dresscode-mobile {
  display: none;
}
.sm-dresscode img {
  height: 12em;
  width: 12em;
}
.sm-dresscode-grid-parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: start;
}
.sm-dresscode-grid-1 {
  padding-bottom: 6em;
  grid-area: 1 / 2 / 2 / 12;
  text-align: center;
}
.sm-dresscode-grid-2 {
  grid-area: 2 / 2 / 3 / 5;
}
.sm-dresscode-grid-3 {
  grid-area: 2 / 5 / 3 / 9;
  text-align: center;
}
.sm-dresscode-grid-4 {
  grid-area: 2 / 9 / 3 / 12;
}
.sm-dresscode-grid-5 {
  padding-top: 6em;
  grid-area: 3 / 2 / 4 / 12;
  text-align: center;
}
/* Gallery Section */
.sm-gallery {
  width: 100%;
  margin: 0 auto; /* Center the gallery horizontally */
  padding: 6em 0;
}

.sm-gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns in the grid */
  grid-auto-rows: auto;
}

.sm-gallery img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: filter 0.2s; /* Add a smooth transition effect */
}

.sm-gallery img:hover {
  filter: brightness(70%); /* Add a dark overlay on hover */
}

/* Gifts Section */
.sm-gifts-show {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sm-gifts-show img {
  height: 12em;
  width: 12em;
}
.sm-gifts-grid-parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.sm-gifts-grid-1 {
  grid-area: 1 / 1 / 2 / 7;
  text-align: center;
  padding: 2.6em;
}
.sm-gifts-grid-2 {
  grid-area: 1 / 7 / 2 / 13;
  text-align: center;
  padding: 2.6em;
}
/* Comments Section */
.sm-comments-title {
  text-align: center;
}
.sm-htmlcommentbox {
  height: 50vh;
  width: 55vw;
  overflow-x: hidden;
}

/* Modal for Gallery */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.prev-btn,
.next-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-btn {
  margin-right: 10px;
}

.next-btn:focus,
.prev-btn:focus {
  outline: none;
}
/* Footer Settings */
.sm-footer {
  text-align: center;
  color: var(--sm-gray);
  text-transform: uppercase;
  position: absolute;
  padding-top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 450px) {
  /* Navigation Settings */
  nav {
    width: 100vw;
  }
  .sm-navigation-grid-1 {
    padding-right: 2em;
  }
  /* Pre-Hero Settings */
  .sm-pre-hero img {
    max-width: 280px;
    max-height: 280px;
  }
  /* Hero Settings */
  .sm-hero {
    display: none;
  }
  .sm-hero-mobile {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
  }
  .sm-hero-mobile-content {
    text-align: center;
  }
  .sm-hero-mobile-content img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .sm-hero-mobile-content svg {
    padding-top: 2em;
  }
  /* Story-1 Settings */
  .sm-story-1 {
    display: none;
  }
  .sm-story-1-mobile {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: var(--sm-black);
    color: var(--sm-white);
    padding: 5em 0;
  }
  .sm-story-1-mobile-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .sm-story-1-mobile-grid-1 img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .sm-story-1-mobile-grid-4 img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .sm-story-1-mobile-grid-1 {
    grid-area: 1 / 3 / 2 / 7;
  }
  .sm-story-1-mobile-grid-2 {
    grid-area: 2 / 3 / 3 / 7;
    padding: 1em 0;
  }
  .sm-story-1-mobile-grid-3 {
    grid-area: 2 / 7 / 3 / 8;
    padding-top: 1em;
    padding-left: 1em;
  }
  .sm-story-1-mobile-grid-3 p {
    text-align: left;
  }
  .sm-story-1-mobile-grid-4 {
    grid-area: 3 / 3 / 4 / 7;
  }
  .sm-story-1-mobile-grid-5 {
    grid-area: 4 / 3 / 5 / 7;
    padding: 1em 0;
  }
  .sm-story-1-mobile-grid-6 {
    grid-area: 4 / 2 / 5 / 3;
    padding-top: 1em;
    padding-right: 1em;
  }
  .sm-story-1-mobile-grid-6 p {
    text-align: left;
  }
  /* Story-2 Settings */
  .sm-story-2 {
    height: auto;
    padding: 5em 0;
  }
  .sm-story-2 p {
    font-size: 0.8rem;
  }
  /* Wedding Settings */
  .sm-wedding {
    display: none;
  }
  .sm-wedding-mobile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-color: var(--sm-beige);
    color: var(--sm-black);
  }
  .sm-wedding-mobile-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .sm-wedding-mobile-grid-1 {
    grid-area: 1 / 2 / 2 / 6;
    text-align: center;
  }
  .sm-wedding-mobile-grid-1 img {
    padding: 2em 0;
    max-height: 80%;
    max-width: 80%;
  }
  .sm-wedding-mobile-grid-2 {
    grid-area: 2 / 1 / 3 / 4;
  }
  .sm-wedding-mobile-grid-3 {
    grid-area: 2 / 4 / 3 / 7;
  }
  .sm-wedding-mobile-grid-4 {
    grid-area: 3 / 2 / 4 / 6;
    text-align: center;
    padding-top: 5em;
  }

  /* Dresscode Settings */
  .sm-dresscode {
    display: none;
  }
  .sm-dresscode-mobile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
  }
  .sm-dresscode-center {
    text-align: center;
  }
  .sm-dresscode-mobile img {
    max-width: 30%;
    padding: 1em;
  }
  .sm-dresscode-palette-mobile {
    text-align: center;
  }
  .sm-dresscode-palette-mobile svg {
    width: 100%;
  }
  /* Gallery Settings */
  .sm-gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-position: center;
  }
  .sm-gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    height: auto;
  }
  .modal-content {
    max-width: 80%;
    max-height: 40%;
  }
  .modal img {
    max-width: 75vw;
    max-height: auto;
    object-fit: contain;
  }
  /* Comment Box Settings */
  .sm-textlink {
    padding-top: 1em;
  }
  .sm-htmlcommentbox {
    padding-top: 1em;
    height: 65vh;
    width: 80vw;
  }
  .sm-footer {
    font-size: 0.6rem;
    padding-top: 5rem;
  }
}
